@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

$border: 2px solid rgb(166,166,175);
$dark-background: rgb(186, 186, 195);

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: rgb(70,70,70);
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: grid;
  grid-template: calc(24px + 7vh) 1fr calc(24px + 7vh) / 1fr;
  .header {
    border-bottom: $border;
    font-size: 8vh;
    font-weight: 800;
    background-color: $dark-background;
    text-align: center;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.3);
  }
  .main {
    display: grid;
    grid-template: 1fr / 1fr 1fr minmax(0, 1fr);
    align-items: center;
    .settings {
      height: 60vh;
      width: calc(192px + 5vw);
      justify-self: center;
      background-color: $dark-background;
      box-shadow: 0 0 4px 2px rgba(0,0,0,0.3);
      border-radius: 8px;
      border: $border;
      padding: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 32px;
      .setting {
        text-align: center;
        font-size: 1.1rem;
      }
      input {
        width: 100%;
        padding: 2px 8px;
        border-radius: 8px;
        border: $border;
        margin-top: 4px;
        font-size: 1.1rem;
        &:focus-visible{
          border: 2px solid rgb(136,136,145);
          outline: none;
          transform: scale(1.01);
          box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.2);
        }
        &::placeholder {
          color: rgba(0,0,0,0.3);
        }
      }
    }
    ul {
      display: grid;
      justify-self: center;
      grid-template: 20vh 20vh 20vh / 20vh 20vh 20vh;
      border: $border ;
      list-style: none;
      box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.5);
      border-radius: 2px;
      li {
        border: $border;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18vh;
      }
    }
  }
  .footer {
    border-top: $border;
    background-color: $dark-background;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.resultModal {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  margin: 35vh auto;
  background-color: $dark-background;
  border: 2px solid rgb(166,166,175);
  text-align: center;
  width: 50vw;
  height: 12vh;
  box-shadow: 2px 2px 10px 4px rgba(0,0,0,0.7);
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.resetButton {
  background-color: white;
  border: $border;
  border-radius: 8px;
  padding: 4px;
  font-weight: 600;
}

.resultModal .resetButton {
  padding: 8px calc(24px + 1vw);
  font-size: calc(0.5em + 0.7vw);
  border-radius: 128px;
}

button:hover, li:hover:not(.occupied) {
  background-color: rgb(240, 240, 240);
}