@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #464646;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: calc(24px + 7vh) 1fr calc(24px + 7vh);
  -ms-grid-columns: 1fr;
      grid-template: calc(24px + 7vh) 1fr calc(24px + 7vh)/1fr;
}

.container .header {
  border-bottom: 2px solid #a6a6af;
  font-size: 8vh;
  font-weight: 800;
  background-color: #babac3;
  text-align: center;
  -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
}

.container .main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 1fr minmax(0, 1fr);
      grid-template: 1fr/1fr 1fr minmax(0, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main .settings {
  height: 60vh;
  width: calc(192px + 5vw);
  justify-self: center;
  background-color: #babac3;
  -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  border: 2px solid #a6a6af;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 32px;
}

.container .main .settings .setting {
  text-align: center;
  font-size: 1.1rem;
}

.container .main .settings .setting > div, .container .main .settings input {
  width: 100%;
  height: 36px;
  border-radius: 8px;
  border: 2px solid #a6a6af;
  margin-top: 4px;
  font-size: 1.1rem;
  background-color: white;
  overflow: hidden;
}

.container .main .settings .setting > div {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  padding: 0;
}

.container .main .settings .setting > div div {
  color: rgba(0, 0, 0, 0.3);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .main .settings .setting > div div:hover:not(.active) {
  background-color: #fafafd;
  color: #464646;
}

.container .main .settings .setting > div .active {
  background-color: #babac3;
  color: #464646;
}

.container .main .settings input {
  padding: 0px 8px;
}

.container .main .settings input:hover {
  -webkit-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.2);
  background-color: #fafafd;
}

.container .main .settings input:focus-visible {
  border: 2px solid #888891;
  outline: none;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.2);
}

.container .main .settings input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.container .main .settings input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.container .main .settings input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.container .main .settings input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.container .main ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-rows: 20vh 20vh 20vh;
  -ms-grid-columns: 20vh 20vh 20vh;
      grid-template: 20vh 20vh 20vh / 20vh 20vh 20vh;
  border: 2px solid #a6a6af;
  list-style: none;
  -webkit-box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.container .main ul li {
  border: 2px solid #a6a6af;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18vh;
}

.container .footer {
  border-top: 2px solid #a6a6af;
  background-color: #babac3;
  -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resultModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  margin: 35vh auto;
  background-color: rgba(206, 206, 215, 0.9);
  border: 2px solid #a6a6af;
  text-align: center;
  width: calc(400px + 30vw);
  -webkit-box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.7);
          box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 32px 16px;
}

.resultModal p {
  display: none;
  font-size: 1.2em;
  margin-bottom: 16px;
}

.resetButton {
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #a6a6af;
  border-radius: 8px;
  padding: 4px;
  font-weight: 600;
}

.resultModal .resetButton {
  padding: 8px calc(24px + 1vw);
  font-size: calc(0.5em + 0.7vw);
  border-radius: 128px;
  width: calc(192px + 20vw);
}

li:hover:not(.occupied) {
  background-color: #e6e6f0;
}

button:hover {
  background-color: #fafafc;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=styles.css.map */